<% content_for :title do %>
	<%= @post.title %> - Curieos
<% end %>

<% content_for :content do %>
<div class="card">
    <div class="card-header text-center">
        <h2><%= @post.title %></h2>
    </div>
    <div class="card-body">
		<p>
			<%= sanitize @post.body %>
		</p>
	</div>
</div>
<% end %>