<nav class="card navbar-side navbar-side-expand-md navbar-light" id="navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="p-1 collapse navbar-collapse card-body" id="navbar-collapse">
        <a class="pb-3 navbar-brand m-0" href="<%= posts_path %>">
            <%= image_tag "curieOS_black_white.png", class: "logo" %>
        </a>
        <h1 class="title">Caroline Longnecker</h1>
        <h2 class="subtitle">Software Development</h2>
        <ul class="navbar-nav flex-column">
            <li class="nav-item">
                <%= link_to posts_path, class: "nav-link" do %>
                <i class="fa fa-home fa-fw"></i>
                Home
                <% end %>
            </li>
            <li class="nav-item">
                <%= link_to posts_path, class: "nav-link" do %>
                <i class="fa fa-th-large fa-fw"></i>
                Blog
                <% end %>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-project-diagram fa-fw"></i>
                    Projects
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-envelope fa-fw"></i>
                    Contact
                </a>
            </li>
        </ul>
    </div>
</nav>